.vs/Expendedora/v16/.suo
.vs/Expendedora/v16/Server/sqlite3/db.lock
.vs/Expendedora/v16/Server/sqlite3/storage.ide
.vs/Expendedora/v16/Server/sqlite3/storage.ide-shm
.vs/Expendedora/v16/Server/sqlite3/storage.ide-wal
*Debug*